.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }

  @media (min-width: 768px) {
	.bd-placeholder-img-lg {
	  font-size: 3.5rem;
	}
  }

.container {
 	padding-top: 20px;
}

.lh-condensed { line-height: 1.25; }

body {
  background-color:#232F5A;
  color:#232F5A;
  padding-bottom: 20px;
}
.card-img-top img {
	height: 20rem;
}
h1, h2, h4{
	font-family: 'Poppins', sans-serif;
}

p,.tekstas{
	font-family: 'Tenor Sans', sans-serif;
}

.navbaras{
	background-color:#A0BB61;
	height: 60px;
	color:#F7F9FB;
	font-family: 'Poppins', sans-serif;
}

.navbaras a{
	background-color:#A0BB61;
	color:#F7F9FB;
	font-family: 'Poppins', sans-serif;
}

.btn{
	background-color:#BCE7FF;
	color:#232F5A;
	font-family: 'Poppins', sans-serif;
}

.navbar {
	z-index: 5;
}
.navbar-brand{
	padding-left: 30px;
}

.navbar-brand img{
	width: 50px;
	height: 50px;
}
.navbar-nav{
	padding-right: 30px;
}
.carousel-indicators{
	margin-bottom:3rem;
}
html {
  font-size: 14px;
}
.blokas{
	background-color:#F7F9FB;
	border-style: solid;
	border-color: #BCE7FF;
	border-radius: 5px;
	margin-top: 20px;
}
.custom-file-input ~ .custom-file-label::after {
    content: "Ieškoti";
	background-color:#BCE7FF;
	color:#232F5A;
	font-family: 'Poppins', sans-serif;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(247, 249, 251, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.custom-toggler.navbar-toggler { 
    border-color: #F7F9FB; 
} 


.carousel-caption {
  bottom: 3rem;
  z-index: 5;
  margin-left: -8%;
}
.container-car {
	display:grid;
	justify-content: center;
}
.container-car img {
	width: 72rem;
	height: 30rem;
}



.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 80%;
  height: 32rem;
}

.carousel {
	margin-bottom: 1rem;
}

.home .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.home .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.carhome {
	margin-bottom: 4rem;
	justify-content: center;
	height: 33rem;
  }
  


@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

}


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
@media (max-width: 768px){
	.navbar-brand img{
		width: 40px;
		height: 40px;
	}
}
::-webkit-scrollbar {
	width: 13px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #555; 
  }
